<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss} %-5p [%c{1}] ---- %m%n" />
		</Console>

		<RollingFile name="RollingFileAppender"
					 fileName="src/output/logs/newest.log"
					 filePattern="src/output/logs/log-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p [%c{1}] %m%n</pattern>
			</PatternLayout>
			<Policies>
				<!-- Roll file daily -->
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>
	</Appenders>

	<Loggers>
		<Root level="TRACE">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="RollingFileAppender" />
		</Root>
	</Loggers>

</Configuration>
